{% extends '::layout.html.twig' %}


{% block title %}SupromocionAdminBundle:Cotizaciones:finalizadas{% endblock %}


{% block contenido %}
<h1>Welcome to the Cotizaciones:finalizadas page</h1>
{% endblock %}
